# 飞书配置
FEISHU_APPID=your_feishu_app_id
FEISHU_APPSECRET=your_feishu_app_secret

# AI服务配置
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=your_openai_api_key
ZHIPUAI_API_KEY=your_zhipuai_api_key

# Ollama配置（如果需要覆盖默认值）
SPRING_AI_OLLAMA_BASE_URL=http://ollama:11434

# 数据库配置（如果需要覆盖默认值）
SPRING_DATASOURCE_URL=jdbc:postgresql://vector_db:5432/vector_store
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Redis配置（如果需要覆盖默认值）
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379


YOUTUBE_DOWNLOADER_API_URL=xxx